---
import BaseLayout from "@layouts/BaseLayout.astro";
import Hero from "@components/Hero.astro";
import Nav from "@components/Nav.astro";
import Intro from "@components/Intro.astro";
import LoQueHacemos from "@components/LoQueHacemos.astro";
import ActualidadGaleria from "@components/ActualidadGaleria.astro";
import { getRetratos, getSubcuentas, getNoticias, getVideos } from "../adapters";

const [retratos, subcuentas, noticias, videos] = await Promise.all([
  getRetratos(),
  getSubcuentas(),
  getNoticias(),
  getVideos(),
]);
---

<BaseLayout>
  <Hero />
  <Nav />

  <div class="contenedor">
    <Intro retratos={retratos} />
  </div>

  <LoQueHacemos noticias={noticias} subcuentas={subcuentas} />

  <ActualidadGaleria videos={videos} />
</BaseLayout>

<style>
  .contenedor {
    width: min(100% - 2rem, var(--wide-width));
    margin-inline: auto;
    padding-block: var(--space-8, 2rem);
  }
</style>
